<div class="row">
  <div class="col-xs-12 col-md-offset-2">

    <h1>Mis pedidos</h1>

    <hr>

    {{#each pedidos}}

    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="list-group">

          <table border="1px" cellpadding="5px" width="100%" class="table-light">

            <thead>
              <tr>
                <th colspan="9" class="text-center">Estado del pedido: {{this.estado}} </th>
              </tr>
              <tr>
                <th colspan="9" class="text-center">Forma de pago: {{pago}} </th>
              </tr>
              <tr>
                <th class="text-center">Imagen</th>
                <th>Nombre del artículo</th>
                <th class="text-center">Precio del artículo</th>
                <th class="text-center">Cantidad del artículo </th>


              </tr>
            </thead>

            {{#each this.items}}
            <tbody>
              <tr>
                <td><img src="{{this.item.imgPath}}" class="card-img" alt="{{filename}}" ></td>
                <td> {{this.item.nombre_producto}} </td>
                <td class="text-center"> <span class="badge">
                    RD$ {{this.item.precio}}
                  </span></td>
                <td class="text-center">{{this.cantidad}}</td>


              </tr>

            </tbody>

            {{/each}}

        </ul>
      </div>
      <th colspan="1"><strong> Precio Total : RD${{this.cart.precioTotal}} </strong></th>
      <hr>
    </div>
    {{!-- <div class="panel-footer">Estado del pedido: {{this.estado}} </div>
    <div class="text-center">Forma de pago: {{pago}} </div> --}}
    {{/each}}

  </div>

</div>